###############Without GPU#####################
numpy
onnxruntime
torch
torchvision
opencv_python
streamlit

###########With GPU##########################
# torch==1.13.0+cu116
# torchvision==0.14.0+cu116
# onnxruntime_gpu==1.13.1
# opencv_python_headless==4.6.0.66
